## Group Assignment

#### Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import pandas_datareader.data as web

#### All questions in Parts I and II apply to a random sample of 15 stocks that your group will be assigned by running the following code.

#### Random Sample Selection

In [2]:
np.random.seed (2041 + 2)
ticker_list = ['AAPL', 'AXP', 'BA', 'C','CAT', 'CSCO', 'CVX', 'DIS', 'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO',
            'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PFE', 'PG', 'TRV', 'UNH', 'V', 'VZ', 'WMT', 'XOM']

stock_list = np.random.choice(ticker_list,15,replace=False)
print(f'These are the fifteen stocks assigned to you: {" ".join(stock_list)}')

These are the fifteen stocks assigned to you: IBM PFE KO JPM DIS CVX C GS TRV XOM AXP CAT VZ CSCO MRK

### PART I

#### 1. Create a DataFrame named returns to store the simple monthly returns for each stock in stock_list. Label the columns as 'RET_ticker', where ticker represents the trading symbol of the stock whose returns are stored in that column. The sample period is 01/2015 - 10/2022.

In [5]:
# set the sample period from 1/2015-10/2022
start = dt.datetime(2015,1,1)
end = dt.datetime(2022,10,31)

In [6]:
print(start-pd.offsets.MonthEnd(1))

2014-12-31 00:00:00

In [7]:
print(start-pd.offsets.BDay(1))

2014-12-31 00:00:00

In [9]:
# initialize empty returns dataframe
returns = pd.DataFrame()

# loop through tickers and pull return data of start adjusted to the previous business day to get the correct 1/31/2015 return
for ticker in stock_list:
    returns['RET_' + ticker] = web.DataReader(ticker, 'yahoo', start-pd.offsets.BDay(1), end)['Adj Close'].pct_change().resample(rule='M').apply(lambda x: (1+x).cumprod().iloc[-1]-1)
    
returns.head()

,RET_IBM,RET_PFE,RET_KO,RET_JPM,RET_DIS,RET_CVX,RET_C,RET_GS,RET_TRV,RET_XOM,RET_AXP,RET_CAT,RET_VZ,RET_CSCO,RET_MRK
Date,,,,,,,,,,,,,,,
2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-31,-0.044441,0.003210,-0.024870,-0.125442,-0.034292,-0.086022,-0.132139,-0.110509,-0.028625,-0.054408,-0.130187,-0.119133,-0.011313,-0.045603,0.061455
2015-02-28,0.063701,0.107929,0.051737,0.126885,0.144239,0.050698,0.116507,0.104262,0.044933,0.020435,0.011154,0.036639,0.081820,0.119075,-0.028866
2015-03-31,-0.008892,0.013694,-0.055740,-0.011423,0.007783,-0.015935,-0.017169,-0.009590,0.011593,-0.039982,-0.039329,-0.034620,-0.016582,-0.059956,-0.010162
2015-04-30,0.067227,-0.024720,0.000247,0.051180,0.036514,0.057916,0.034938,0.044954,-0.064922,0.027883,-0.008577,0.094590,0.048929,0.047221,0.036187

In [10]:
# drop first entry to start with 1/31/15 returns
returns = returns.dropna(how='all')
returns.head()

,RET_IBM,RET_PFE,RET_KO,RET_JPM,RET_DIS,RET_CVX,RET_C,RET_GS,RET_TRV,RET_XOM,RET_AXP,RET_CAT,RET_VZ,RET_CSCO,RET_MRK
Date,,,,,,,,,,,,,,,
2015-01-31,-0.044441,0.003210,-0.024870,-0.125442,-0.034292,-0.086022,-0.132139,-0.110509,-0.028625,-0.054408,-0.130187,-0.119133,-0.011313,-0.045603,0.061455
2015-02-28,0.063701,0.107929,0.051737,0.126885,0.144239,0.050698,0.116507,0.104262,0.044933,0.020435,0.011154,0.036639,0.081820,0.119075,-0.028866
2015-03-31,-0.008892,0.013694,-0.055740,-0.011423,0.007783,-0.015935,-0.017169,-0.009590,0.011593,-0.039982,-0.039329,-0.034620,-0.016582,-0.059956,-0.010162
2015-04-30,0.067227,-0.024720,0.000247,0.051180,0.036514,0.057916,0.034938,0.044954,-0.064922,0.027883,-0.008577,0.094590,0.048929,0.047221,0.036187
2015-05-31,-0.002079,0.032642,0.009862,0.039836,0.015177,-0.063332,0.015215,0.053014,0.000099,-0.016772,0.029309,-0.017956,-0.019826,0.016649,0.022330

In [12]:
returns.tail()

,RET_IBM,RET_PFE,RET_KO,RET_JPM,RET_DIS,RET_CVX,RET_C,RET_GS,RET_TRV,RET_XOM,RET_AXP,RET_CAT,RET_VZ,RET_CSCO,RET_MRK
Date,,,,,,,,,,,,,,,
2022-06-30,0.016926,-0.011501,-0.000244,-0.148378,-0.145237,-0.171075,-0.138925,-0.091265,-0.050332,-0.107917,-0.175816,-0.171832,-0.010528,-0.053496,-0.001237
2022-07-31,-0.073660,-0.029145,0.020029,0.033482,0.123941,0.131234,0.139634,0.122450,-0.061669,0.131831,0.111095,0.116753,-0.078402,0.073601,-0.020072
2022-08-31,-0.005517,-0.104534,-0.038336,-0.014130,0.056362,-0.026156,-0.059538,0.005374,0.018525,-0.004242,-0.013115,-0.068298,-0.094826,-0.014327,-0.044549
2022-09-30,-0.075049,-0.032501,-0.085587,-0.081157,-0.158369,-0.091041,-0.146282,-0.119097,-0.046810,-0.086620,-0.112434,-0.111689,-0.091844,-0.105546,0.017037
2022-10-31,0.163959,0.063757,0.068368,0.215371,0.129439,0.259135,0.100552,0.175602,0.204047,0.269156,0.104564,0.328062,0.000785,0.146300,0.175104

#### 2. Download the monthly Fama French four-factors data for the sample period 01/2015 - 10/2022 and store it in a DataFrame labeled four_factors.

In [13]:
four_factors = web.DataReader('F-F_Research_Data_Factors','famafrench', start + pd.offsets.MonthEnd(0), end)[0] 
four_factors = four_factors.apply(lambda x: x/100)
four_factors.index = four_factors.index.to_timestamp(how='end').normalize()
four_factors.tail()

            Mkt-RF     SMB     HML      RF
Date
2022-06-30 -0.0843  0.0209 -0.0597  0.0006
2022-07-31  0.0957  0.0281 -0.0410  0.0008
2022-08-31 -0.0377  0.0139  0.0031  0.0019
2022-09-30 -0.0935 -0.0082  0.0003  0.0019
2022-10-31  0.0783  0.0010  0.0806  0.0023

In [14]:
len(four_factors)

94

#### 3. Use the DataFrame returns to create a new DataFrame named data_intial that only has the data from January 2015 to December 2019. In addition, create another DataFrame named data_post to store the remaining data.

In [15]:
data_initial = returns.loc['2015-01':'2019-12']
data_post =pd.concat([returns,data_initial]).drop_duplicates(keep=False)
data_post.head()

,RET_IBM,RET_PFE,RET_KO,RET_JPM,RET_DIS,RET_CVX,RET_C,RET_GS,RET_TRV,RET_XOM,RET_AXP,RET_CAT,RET_VZ,RET_CSCO,RET_MRK
Date,,,,,,,,,,,,,,,
2020-01-31,0.072292,-0.039806,0.055104,-0.044407,-0.043698,-0.110945,-0.062419,0.034010,-0.038919,-0.109774,0.046832,-0.104338,-0.021847,-0.034447,-0.060583
2020-02-29,-0.085027,-0.102578,-0.084075,-0.122771,-0.149375,-0.118621,-0.147158,-0.150378,-0.089728,-0.160037,-0.153538,-0.054130,-0.088829,-0.131390,-0.103932
2020-03-31,-0.147676,-0.023339,-0.165487,-0.224615,-0.178921,-0.223698,-0.336275,-0.230015,-0.165288,-0.261858,-0.221232,-0.066001,-0.007940,-0.015527,0.013266
2020-04-30,0.131885,0.175245,0.037062,0.074698,0.119565,0.269666,0.152896,0.186493,0.018722,0.223861,0.071801,0.012138,0.080734,0.088319,0.031193
2020-05-31,0.008084,0.005490,0.017215,0.016186,0.084605,0.011372,-0.002914,0.077953,0.057010,-0.002547,0.041863,0.032222,-0.001218,0.128362,0.017394

#### 4a. Use the DataFrames data_initial and four_factors to find the optimal portfolio (highest Sharpe ratio) from the universe of stocks comprised of all fifteen stocks assigned to your group. Assume there are no short-selling constraints.

In [16]:
from scipy.optimize import minimize

In [17]:
four_factors = four_factors[four_factors.index<=data_initial.index[-1]]

In [18]:
len(data_initial)

60

In [19]:
len(four_factors)

60

In [20]:
# Define the portfolio returns function
def port_ret(weights):
    port_ret = np.dot(data_initial*12,weights).mean()
    return port_ret

# Define the portfolio standard deviation function
def port_std(weights):
    port_std = np.sqrt(np.dot(weights, np.dot(data_initial.cov()*12, weights)))
    return port_std

# Define the excess portfolio returns function
def ex_port_ret(weights):
    ex_port_ret = (np.dot(data_initial,weights) - four_factors['RF']).mean()*12
    return ex_port_ret

# Define the excess portfolio standard deviation function
def ex_port_std(weights):
    ex_port_std = (np.dot(data_initial,weights) - four_factors['RF']).std()*np.sqrt(12)
    return ex_port_std

# Define the negative Sharpe Ratio function that we will minimize
def neg_SR(weights):
    SR = ex_port_ret(weights) / ex_port_std(weights)
    return (-1)*SR

In [21]:
# By convention of minimize function it should be a function that returns zero for conditions
constraints = ({'type':'eq','fun': lambda weights: np.sum(weights) - 1})

# Weights must be between 0 and 1
boundaries=[(0,1)]
bounds = tuple(boundaries * len(data_initial.columns))

# Initial Guess (equally weighted)
init_guess = np.full(len(data_initial.columns), 1/len(data_initial.columns))

In [22]:
# Optimal Portfolio (OP)
optimal_port = minimize(neg_SR,init_guess,#bounds = bounds,
                        constraints=constraints)
optimal_port

     fun: -2.049720302163076
     jac: array([-0.035124  , -0.0351623 , -0.03512147, -0.03529608, -0.03524926,
       -0.03546593, -0.035274  , -0.03526902, -0.03551811, -0.03532192,
       -0.035671  , -0.0353502 , -0.03514013, -0.03531951, -0.03512287])
 message: 'Optimization terminated successfully'
    nfev: 304
     nit: 19
    njev: 19
  status: 0
 success: True
       x: array([-0.43815816, -0.66816944,  0.31368671,  2.13119223, -0.20725364,
        0.12122914, -0.19177084, -0.90267003,  0.08134942, -0.8817601 ,
       -0.34823159,  0.24520331,  0.28094458,  0.67197062,  0.79243778])

#### 4b. The weights of the stocks in the optimal portfolio are:

In [23]:
stock_list = stock_list.tolist()

In [24]:
# Weights of the assets in the optimal portfolio
for stock in stock_list:
    print(stock + "  "+ str(round(optimal_port.x[stock_list.index(stock)],4)),end="  ")

IBM  -0.4382  PFE  -0.6682  KO  0.3137  JPM  2.1312  DIS  -0.2073  CVX  0.1212  C  -0.1918  GS  -0.9027  TRV  0.0813  XOM  -0.8818  AXP  -0.3482  CAT  0.2452  VZ  0.2809  CSCO  0.672  MRK  0.7924

#### 4c. The optimal portfolio return is:

In [25]:
port_ret(optimal_port.x)

0.5549212805875003

#### 4d. The optimal portfolio standard deviation is:

In [26]:
port_std(optimal_port.x)

0.26617882133183346

#### 4e. The Sharpe Ratio of the optimal portfolio is:

In [27]:
-optimal_port.fun

2.049720302163076

### PART II

#### 1. Create a DataFrame named optimal_weights to store the weights from a portfolio optimization performed on a rolling basis. Specifically, the optimization should use a 60 month rolling window, and be performed every month. The first 60 months correspond to the sample period for data_initial (01/2015 - 12/2019) created in question 3. Hence, the first observation in the optimal_weights DataFrame should be the weights you listed above in question 4b. The next 60 month period should be 02/2015 - 01/2020, followed by 03/2015 - 02/2020, and so on. Again, assume there are no short-selling constraints.

In [31]:
returns.head()

,RET_IBM,RET_PFE,RET_KO,RET_JPM,RET_DIS,RET_CVX,RET_C,RET_GS,RET_TRV,RET_XOM,RET_AXP,RET_CAT,RET_VZ,RET_CSCO,RET_MRK
Date,,,,,,,,,,,,,,,
2015-01-31,-0.044440,0.003210,-0.024870,-0.125442,-0.034293,-0.086022,-0.132139,-0.110509,-0.028626,-0.054408,-0.130187,-0.119133,-0.011313,-0.045603,0.061455
2015-02-28,0.063701,0.107928,0.051737,0.126885,0.144239,0.050698,0.116507,0.104262,0.044933,0.020435,0.011153,0.036639,0.081820,0.119075,-0.028865
2015-03-31,-0.008892,0.013695,-0.055740,-0.011423,0.007782,-0.015935,-0.017169,-0.009589,0.011592,-0.039982,-0.039329,-0.034620,-0.016582,-0.059956,-0.010162
2015-04-30,0.067227,-0.024720,0.000247,0.051180,0.036515,0.057916,0.034938,0.044954,-0.064922,0.027883,-0.008577,0.094590,0.048929,0.047221,0.036187
2015-05-31,-0.002079,0.032642,0.009861,0.039836,0.015176,-0.063332,0.015215,0.053014,0.000099,-0.016772,0.029309,-0.017956,-0.019825,0.016649,0.022331

In [35]:
for i in range(0,len(returns.index)-60):
   print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [49]:
optimal_weights = pd.DataFrame()

for i in range(0,len(returns.index)-60+1):
    # Define the portfolio returns function
    def port_ret(weights):
        port_ret = np.dot(returns.iloc[i:i+60]*250,weights).mean()
        return port_ret

    # Define the portfolio standard deviation function
    def port_std(weights):
        port_std = np.sqrt(np.dot(weights, np.dot(returns.iloc[i:i+60].cov()*250, weights)))
        return port_std

    # Define the excess portfolio returns function
    def ex_port_ret(weights):
        ex_port_ret = (np.dot(returns.iloc[i:i+60],weights) - four_factors.iloc[i:i+60]['RF']).mean()*250
        return ex_port_ret

    # Define the excess portfolio standard deviation function
    def ex_port_std(weights):
        ex_port_std = (np.dot(returns.iloc[i:i+60],weights) - four_factors.iloc[i:i+60]['RF']).std()*np.sqrt(250)
        return ex_port_std

    # Define the negative Sharpe Ratio function that we will minimize
    def neg_SR(weights):
        SR = ex_port_ret(weights) / ex_port_std(weights)
        return (-1)*SR

    # By convention of minimize function it should be a function
    # that returns zero for conditions
    constraints = ({'type':'eq','fun': lambda weights: np.sum(weights) - 1})

    # Weights must be between 0 and 1
    boundaries=[(0,1)]
    bounds = tuple(boundaries * len(returns.columns))

    # Initial Guess (equally weighted)
    init_guess = np.full(len(returns.columns),1/len(returns.columns))
    
    
#     optimal_port = minimize(neg_SR,init_guess,bounds = bounds,
#                             constraints=constraints)
    
#     optimal_weights = pd.concat([optimal_weights,
#                                 pd.DataFrame(optimal_port.x.reshape(1,len(stock_list)).round(4),
#                                              columns=[stock_list],
#                                              index=[returns.iloc[i:i+60].index[-1]])],
#                                 axis=0)

NameError: name 'negSR' is not defined

#### 2. Create a new DataFrame named port_returns to store the monthly returns over the sample period 01/2020 - 10/2022 for the following portfolios:
* 1) A monthly rebalanced portfolio using the rolling optimal weights. Specifically, the portfolio return for 01/2020 should be based on the weights as of 12/2019 (the same values detailed in question 4b), the portfolio return for 02/2020 should be based on the weights as of 01/2020 and so on. Label the portfolio (MRoll_Reb_OP, an acronym for Monthly Rolling Rebalanced Optimal Portfolio). 
* 2) A monthly rebalanced portfolio using the optimal weights as of 12/2019. Label the portfolio (M_Reb_OP, an acronym for Monthly Rebalancing Optimal Portfolio).
* 3) A monthly rebalanced equally-weighted portfolio. Label the portfolio (M_Reb_EW, an acronym for Monthly Rebalancing Equally-Weighted Portfolio).
* 4) A buy and hold portfolio, initially allocated according to the optimal weights as of 12/2019. Label the portfolio (BH_OP, an acronym for Buy and Hold Optimal Portfolio).
* 5) A buy and hold portfolio, initially allocated equally across stocks. Label the portfolio (BH_EW, an acronym for Buy and Hold Equally-Weighted Portfolio).

In [ ]:
port_returns = pd.DataFrame()

#### 3. In a single output, provide summary statistics on all portfolios.

#### 4a. Compute the cumulative return series for all portfolios and plot them in the same graph.

#### 4b. What was the cumulative return for the best performing portfolio? What was the cumulative return for the worst performing portfolio?

#### 5. Run the Fama-French 4 factor models for all portfolios defined above, and store the coefficients and p-values in a DataFrame named results. Would any of the portfolios have been successful allocations? Briefly explain.

### PART III - Examination of the Size Effect

Please download the file "crsp_fall22.csv" located in folder Group_Assignment. The file contains the following columns:
* PERMNO - Permanent number (unique identifer for the stock)
* DATE
* PRC - The closing price
* VOL - Trading volume (in hundreds)
* RET - The simple return
* SHROUT - The number of shares outstanding (in thousands)
* CFACPR - Cumulative factor to adjust the closing price
* CFACSHR - Cumulative factor to adjust shares outstanding

#### 1. Create a DataFrame named fin_data by reading in the columns DATE, PERMNO, RET, PRC and SHROUT from the file 'crsp_fall2.csv'. Set the DATE as the index. In addition, change each index value to the end of the month. For example, change '1990-09-28' to '1990-09-30', or '1991-06-28' to '1990-06-30'.

#### 2. How many stocks are there in the sample? How many stocks are in the sample over the entire period?

#### 3. Create a new column (labeled MKTCAP) to store the market capitalization (defined as PRC * SHROUT). Subsequently, permanently remove the PRC and SHROUT columns.

#### 4. Every June, split the stocks into quintiles (five groups) based on their market capitalization. (Hint: Consider using the pd.transform() or pd.qcut() methods to achieve this). In addition, change each index value from the end of June to the end of July in the created DataFrame. For example, change '1926-06_30' to 1926-07-31'. The header of a DataFrame named size_qt, sorted by index, is found below. Subsequently, drop the MKTCAP column from the DataFrame size_qt.

#### 5. Create a new DataFrame named data by using the merge_asof() function to merge the DataFrames fin_data and size_qt. Specifically, merge each stock's July quintile allocation with each of the stock's 12 monthly returns for the year starting that July. Subsequently, set DATE as the index in the DataFrame.

#### 6. Create a new DataFrame called quintiles to store the average monthly return for each quintile. The header of the DataFrame can be found below:

#### 7. Create a bar plot of the average monthly return for all five market capitalization groups, across the entire sample.

#### 8. Create a line plot of the cumulative return series for all five market capitalization groups.